@font-face {
  font-family: "inter-regular";
  font-weight: normal;
  src: url("/src/assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-weight: bold;
  src: url("/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "inika";
  font-weight: bold;
  src: url("/src/assets/fonts/Inika-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "test1";
  font-weight: bold;
  src: url("/src/assets/fonts/HakgyoansimBombanghakR.ttf") format("truetype");
}
