@import "/src/styles/media/mixin";

//desktop (1920px ~ 1080px)
.managerpage-content-container {
  position: relative;
  width: 88%;
  height: 80%;
  //height: 86.13%;
  left: 6%; // 중앙 위치
  top: 3%;

  .banner-image {
    // 배너
    width: 100%;
    height: 41.67%;
    background-color: white;
    border-radius: 16px;
  }

  .managerpage-statistics-container {
    // 통계
    position: absolute;
    width: 100%;
    height: 50.95%;
    bottom: 1.5%;
    background-color: white;
    border-radius: 16px;

    .manager-statistics-content-container {
      position: relative;
      width: 98%;
      left: 1%;
      height: 90%;
      top: 5%;
      border-radius: 16px;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      .cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #c9d1dc;
        border-bottom: 1px solid #c9d1dc;

        span {
          color: #c9d1dc;
          font-size: 17px;
          font-weight: bold;
        }

        .statistics-data {
          color: black;
          font-size: 23px;
          font-weight: normal;
        }
        &:last-child,
        &:nth-child(4) {
          border-right: none;
        }
        &:nth-child(n + 5) {
          border-bottom: none;
        }
      }
    }
  }
}

@include laptop {
  .managerpage-content-container {
    .managerpage-statistics-container {
      .manager-statistics-content-container {
        .cell {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #c9d1dc;
          border-bottom: 1px solid #c9d1dc;

          span {
            color: #c9d1dc;
            font-size: 16px;
          }

          .statistics-data {
            color: black;
            font-size: 18px;
          }
        }
      }
    }
  }
}
