@import "/src/styles/media/mixin";

//desktop (1920px ~ 1080px)

.route-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 98%;
  left: 2%;
  top: 1.5%;

  .facility-address-container {
    width: 100%;
    height: 33%;

    .facility-address-info {
      width: 100%;
      height: 30%;
      background-color: #eeeeee;
      font-size: 13px;
      font-weight: bold;
      padding: 10px;
      border-radius: 6px;
      border-style: none;
      resize: none;
    }
  }
  .facility-route-info-container {
    height: 67%;

    .tip-container {
      display: flex;
      justify-content: space-between;
      .route-info-tool-tip {
        margin-left: 1%;
        color: #94a3b9;
      }
    }

    .facility-route-info {
      width: 100%;
      height: 80%;
      border: 2px solid #dfe4ea;
      border-radius: 6px;
      font-size: 13px;
      resize: none;
    }

    .facility-route-info-submit-btn {
      position: relative;
      background-color: #ffb800;
      color: white;
      padding: 0.5%;
      border-style: none;
      border-radius: 6px;
      left: 100%;
      transform: translateX(-100%);
    }
  }
}

@include laptop {
  .route-info-container {
    .facility-address-container {
      .facility-address-info {
        height: 35%;
      }
    }
  }
}
