@import "/src/styles/media/mixin";

.ceo-info-container {
  position: relative;
  padding-right: 5px;
  margin-top: 25px;
  width: 530px;
  left: 50%;
  transform: translateX(-50%);

  span {
    font-size: 18px;
    font-weight: 600;
  }

  input {
    margin-top: 6px;

    width: 100%;
    display: block;
    height: 60px;
    background-color: #ffffff;

    border-width: 1.5px;
    border-style: solid;
    border-color: #94a3b9;
    border-radius: 6px;

    padding-inline-start: 15px;
    font-size: 18px;

    &::placeholder {
      color: #898c9a;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: #4162ff;
    }
  }

  input:disabled {
    background-color: #dde1e6;
  }
  button:disabled {
    background-color: #dde1e6;
  }

  .important-sign {
    color: #ed6653;
  }

  .password-validate-error-msg {
    color: #ed6653;
    font-size: 15px;
  }
  .password-validate-sign {
    color: #94a3b9;
    font-size: 14.2px;
  }

  .ceo-email-verify-btn, //주소 검색, 파일 선택
  .ceo-phone-verify-btn {
    width: 235px;
    //text-align: center;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 320%; // 임시
    color: #ed6653;
    background-color: #f5d5d1;

    border: 1.5px;
    border-style: solid;
    border-color: #f5d5d1;
    border-radius: 6px;
  }

  .ceo-email-input-container,
  .ceo-phone-input-container {
    display: flex;
  }

  .ceo-email-container,
  .ceo-phone-container,
  .ceo-password-container {
    margin-top: 20px;
  }

  .ceo-info-submit-btn {
    width: 100%;
    height: 65px;
    margin-top: 55px;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    background-color: #16269e;
    border-style: none;
    border-radius: 6px;
  }
}

// laptop ( ~ 1919px)
@include laptop {
  .ceo-info-container {
    width: 450px;
    margin-top: 25px;
    span {
      font-size: 16px;
      font-weight: 600;
    }

    input {
      margin-top: 6px;

      width: 100%;
      display: block;
      height: 55px;
      background-color: #ffffff;

      border-width: 2.5px;
      border-style: solid;
      border-color: #e6e9ee;

      padding-inline-start: 15px;
      font-size: 16px;
    }

    .password-validate-error-msg {
      font-size: 15px;
    }

    .password-validate-sign {
      font-size: 12.2px;
    }

    .ceo-email-verify-btn, //주소 검색, 파일 선택
    .ceo-phone-verify-btn {
      width: 165px;
      margin-top: 7px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 600;
    }

    .ceo-email-container,
    .ceo-phone-container,
    .ceo-password-container {
      margin-top: 15px;
    }

    .ceo-info-submit-btn {
      width: 100%;
      height: 60px;
      margin-top: 40px;
      font-size: 22px;
      font-weight: 600;
      background-color: #16269e;
    }
  }
}
